<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>torios.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>453C0CC51BBDF60200F11827</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>453C0CDE1BBDF60200F11827</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>453C0CE91BBDF60200F11827</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
